# Collaborative Filtering Amazon Products Recommender

In [1]:
import types
import pandas as pd
from botocore.client import Config
import ibm_boto3
from scipy.stats import pearsonr

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_eff8b890fc014dd095e4207eb2ade298 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='VIz5nAblJ2M3o04ZeKWxp2lQC_OR-OjRQHTmZXCYn2YG',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.eu-geo.objectstorage.service.networklayer.com')

body = client_eff8b890fc014dd095e4207eb2ade298.get_object(Bucket='contentbasedamazonproductsrecomme-donotdelete-pr-r7ykqdalccw5ut',Key='Amazon_products_reviews.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34660 entries, 0 to 34659
Data columns (total 21 columns):
id                      34660 non-null object
name                    27900 non-null object
asins                   34658 non-null object
brand                   34660 non-null object
categories              34660 non-null object
keys                    34660 non-null object
manufacturer            34660 non-null object
reviews.date            34621 non-null object
reviews.dateAdded       24039 non-null object
reviews.dateSeen        34660 non-null object
reviews.didPurchase     1 non-null object
reviews.doRecommend     34066 non-null object
reviews.id              1 non-null float64
reviews.numHelpful      34131 non-null float64
reviews.rating          34627 non-null float64
reviews.sourceURLs      34660 non-null object
reviews.text            34659 non-null object
reviews.title           34655 non-null object
reviews.userCity        0 non-null float64
reviews.userProvince    0 non-null float64
reviews.username        34658 non-null object
dtypes: float64(5), object(16)
memory usage: 5.6+ MB

In [3]:
# cleaning product name
df['name'] = df['name'].str.replace('[\,\\r]', '')
df['name'] = df['name'].str.replace('[\\n]', ' ')
df['name'] = df['name'].str.strip()
df.head()

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman
2,AVqkIhwDv8e3D1O-lebb,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.,NaN,NaN,DaveZ
3,AVqkIhwDv8e3D1O-lebb,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,4.0,http://reviews.bestbuy.com/3545/5620406/review...,I've had my Fire HD 8 two weeks now and I love...,Good!!!,NaN,NaN,Shacks
4,AVqkIhwDv8e3D1O-lebb,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-12T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,I bought this for my grand daughter when she c...,Fantastic Tablet for kids,NaN,NaN,explore42

## 1- Get Products Dataframe

In [4]:
# getting only needed columns
products_df = df[['id', 'name', 'asins']].copy()
# drop duplicate rows, considering 'name' to identify them
products_df = products_df.drop_duplicates(subset='name')

products_df.head()

,id,name,asins
0,AVqkIhwDv8e3D1O-lebb,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,B01AHB9CN2
2814,AVqVGZO3nnc1JgDc3jGK,Kindle Oasis E-reader with Leather Charging Co...,B00VINDBJK
2881,AVpe9CMS1cnluZ0-aoC5,Amazon Kindle Lighted Leather Cover Amazon Kin...,B005PB2T0S
2883,AVpe9CMS1cnluZ0-aoC5,Amazon Kindle Lighted Leather Cover Kindle Key...,B005PB2T0S
2884,AVpe9CMS1cnluZ0-aoC5,Kindle Keyboard Kindle Keyboard,B005PB2T0S

In [5]:
products_df.shape

(49, 3)

## 2- Get Users Ratings DataFrame

In [6]:
users_df = df[['name','reviews.username', 'reviews.rating']].copy()
users_df.rename(columns={"reviews.username":"username", "reviews.rating":"rating"}, inplace=True)
users_df.head()

                                                name   username  rating
0  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...    Adapter     5.0
1  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...     truman     5.0
2  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...      DaveZ     5.0
3  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...     Shacks     4.0
4  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...  explore42     5.0

In [7]:
users_df.shape

(34660, 3)

## 3- Get User Input

In [8]:
user_input = [
    {'name': 'All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16 GB - Includes Special Offers Magenta', 'rating': 4.5},
    {'name': 'Fire Tablet 7 Display Wi-Fi 8 GB - Includes Special Offers Magenta', 'rating': 3},
    {'name': 'Brand New Amazon Kindle Fire 16gb 7 Ips Display Tablet Wifi 16 Gb Blue', 'rating': 4},
    {'name': 'Kindle Paperwhite E-reader - White 6 High-Resolution Display (300 ppi) with Built-in Light Wi-Fi - Includes Special Offers', 'rating': 3.5},
    {'name': 'New Amazon Kindle Fire Hd 9w Powerfast Adapter Charger + Micro Usb Angle Cable', 'rating': 2}
]

input_products = pd.DataFrame(user_input)
input_products

                                                name  rating
0  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...     4.5
1  Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...     3.0
2  Brand New Amazon Kindle Fire 16gb 7 Ips Displa...     4.0
3  Kindle Paperwhite E-reader - White 6 High-Reso...     3.5
4  New Amazon Kindle Fire Hd 9w Powerfast Adapter...     2.0

In [9]:
input_products = input_products.sort_values(by='name')
input_products

                                                name  rating
0  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...     4.5
2  Brand New Amazon Kindle Fire 16gb 7 Ips Displa...     4.0
1  Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...     3.0
3  Kindle Paperwhite E-reader - White 6 High-Reso...     3.5
4  New Amazon Kindle Fire Hd 9w Powerfast Adapter...     2.0

## 4- Similarity Weights (Pearson Correlation)

In [10]:
users_subset = users_df[users_df['name'].isin(input_products['name'].tolist())]
users_subset.head()

                                                name   username  rating
0  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...    Adapter     5.0
1  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...     truman     5.0
2  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...      DaveZ     5.0
3  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...     Shacks     4.0
4  All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...  explore42     5.0

In [11]:
users_subset.shape

(14849, 3)

In [12]:
users_subset_group = users_subset.groupby(['username'])

In [13]:
users_subset_group = sorted(users_subset_group,  key=lambda x: len(x[1]), reverse=True)

In [14]:
users_subset_group = users_subset_group[:150]

In [15]:
pearson_correlation_dict = {}

for name, group in users_subset_group:
    group = group.drop_duplicates('name')
    group = group.sort_values(by='name')
    temp_df = input_products[input_products['name'].isin(group['name'].tolist())]
    temp_rating_list = temp_df['rating'].tolist()
    temp_group_list = group['rating'].tolist()
    
    pearson_correlation_dict[name] = round(pearsonr(temp_rating_list, temp_group_list)[0], 3)

/opt/conda/envs/Python36/lib/python3.6/site-packages/scipy/stats/stats.py:3038: RuntimeWarning: invalid value encountered in double_scalars
  r = r_num / r_den

In [16]:
pearson_correlation_dict.items()

dict_items([('Mike', 0.655), ('Chris', nan), ('John', 0.189), ('Dave', -0.756), ('Anonymous', nan), ('Rick', nan), ('Steve', -0.756), ('Alex', 0.945), ('Bill', 0.945), ('Fire', 1.0), ('Lisa', nan), ('David', 1.0), ('James', nan), ('Jess', -0.189), ('Nick', 0.756), ('Matt', -0.945), ('Nikki', nan), ('Scott', 1.0), ('Andy', nan), ('Jason', 0.945), ('Jenn', 0.189), ('Mark', -0.548), ('Sandy', -0.327), ('Happy', -1.0), ('Doug', 0.945), ('Mary', 1.0), ('Robert', 0.945), ('Denise', nan), ('Eric', -1.0), ('Josh', 0.945), ('Patty', nan), ('Rich', nan), ('Ashley', nan), ('Bobby', 0.945), ('Brad', -0.945), ('Cindy', 0.756), ('Danny', 1.0), ('Grandma', nan), ('Jeff', 1.0), ('Mimi', nan), ('Ryan', 1.0), ('Tablet', 0.839), ('mike', nan), ('Amanda', nan), ('Angel', nan), ('Connie', nan), ('Debbie', 0.655), ('Fred', nan), ('Karen', nan), ('Kindle', 1.0), ('Missy', -0.189), ('Nana', nan), ('Nate', nan), ('Paul', -0.756), ('Steph', nan), ('Susan', nan), ('Adam', 1.0), ('George', nan), ('Judy', nan), ('Kath', nan), ('Kevin', nan), ('Marie', nan), ('Sissy', 0.945), ('Sunny', 0.945), ('Angie', nan), ('Anna', nan), ('Brandon', -1.0), ('Carlos', -1.0), ('Cathy', nan), ('Charlie', nan), ('Dawn', nan), ('Gigi', 0.756), ('Jane', nan), ('Jerry', -1.0), ('Jessica', nan), ('Johnny', nan), ('Jose', 1.0), ('Justin', nan), ('Kathy', nan), ('Linda', -1.0), ('Maggie', nan), ('Michael', -0.189), ('Michelle', nan), ('Pete', nan), ('Rocky', 1.0), ('Rose', 1.0), ('Sarah', nan), ('Sassy', nan), ('Will', -0.189), ('tablet', -0.945), ('April', nan), ('Bubba', nan), ('Butch', nan), ('Candy', 1.0), ('Donna', nan), ('Elaine', -0.756), ('Gary', nan), ('Jack', 1.0), ('Jake', nan), ('Jamie', 1.0), ('Jeremy', nan), ('Lulu', -0.189), ('Lynn', nan), ('Manny', nan), ('Maria', nan), ('Melissa', -0.756), ('Meme', 0.982), ('Reviewer', nan), ('Richard', nan), ('Scooby', -1.0), ('Shell', nan), ('Sherry', -0.982), ('Susie', nan), ('Tina', nan), ('chris', nan), ('Abby', -1.0), ('Andrea', 0.945), ('Billy', 1.0), ('Brian', 1.0), ('Charles', nan), ('Chuck', -1.0), ('Dani', -1.0), ('Frank', nan), ('Gator', nan), ('Gina', 1.0), ('Hope', nan), ('Jenny', nan), ('Jimmy', nan), ('Joey', nan), ('Jojo', 1.0), ('Joseph', nan), ('Kate', nan), ('Kelly', -1.0), ('Kiki', nan), ('Kris', 1.0), ('Lori', 1.0), ('Mandy', nan), ('Mickey', nan), ('Nancy', 1.0), ('Nickname', -1.0), ('Shan', nan), ('Shaun', nan), ('Shawn', 1.0), ('Steven', nan), ('Tammy', nan), ('TechGuy', nan), ('Tony', nan), ('User', nan), ('Vanessa', 1.0), ('john', nan)])

In [17]:
pearson_df = pd.DataFrame.from_dict(pearson_correlation_dict, orient='index').reset_index(drop=False)
pearson_df.columns = ['username', 'similarityIndex']
pearson_df = pearson_df.sort_values(by='similarityIndex',ascending=False)
pearson_df.head()

    username  similarityIndex
148  Vanessa              1.0
40      Ryan              1.0
36     Danny              1.0
49    Kindle              1.0
56      Adam              1.0

In [18]:
top_users = pearson_df.iloc[:20]
top_users.head()

    username  similarityIndex
148  Vanessa              1.0
40      Ryan              1.0
36     Danny              1.0
49    Kindle              1.0
56      Adam              1.0

## 5- Find Recommendations

In [19]:
top_users_rating = pd.merge(top_users, users_df, left_on='username', right_on='username', how='inner')
top_users_rating.head()

,username,similarityIndex,name,rating
0,Vanessa,1.0,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0
1,Vanessa,1.0,Amazon 5W USB Official OEM Charger and Power A...,5.0
2,Vanessa,1.0,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...,4.0
3,Vanessa,1.0,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...,5.0
4,Vanessa,1.0,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...,3.0

In [20]:
top_users_rating.shape

(371, 4)

In [21]:
top_users_rating['weightedRating'] = top_users_rating['similarityIndex']*top_users_rating['rating']
top_users_rating.head()

,username,similarityIndex,name,rating,weightedRating
0,Vanessa,1.0,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...,5.0,5.0
1,Vanessa,1.0,Amazon 5W USB Official OEM Charger and Power A...,5.0,5.0
2,Vanessa,1.0,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...,4.0,4.0
3,Vanessa,1.0,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...,5.0,5.0
4,Vanessa,1.0,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...,3.0,3.0

In [22]:
temp_users_rating = top_users_rating.groupby('name').sum()[['similarityIndex', 'weightedRating']]
temp_users_rating.columns = ['sum_similarityIndex', 'sum_weightedRating']
temp_users_rating.head()

,sum_similarityIndex,sum_weightedRating
name,,
All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16 GB - Includes Special Offers Magenta,33.0,154.0
All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 32 GB - Includes Special Offers Magenta,3.0,13.0
All-New Kindle E-reader - Black 6 Glare-Free Touchscreen Display Wi-Fi - Includes Special Offers,2.0,9.0
Amazon - Amazon Tap Portable Bluetooth and Wi-Fi Speaker - Black Amazon - Amazon Tap Portable Bluetooth and Wi-Fi Speaker - Black,1.0,4.0
Amazon - Fire 16GB (5th Gen 2015 Release) - Black Amazon - Fire 16GB (5th Gen 2015 Release) - Black,1.0,5.0

In [23]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = temp_users_rating['sum_weightedRating']/temp_users_rating['sum_similarityIndex']
recommendation_df['name'] = temp_users_rating.index
recommendation_df = recommendation_df.reset_index(drop=True)
recommendation_df

,weighted average recommendation score,name
0,4.666667,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...
1,4.333333,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 32...
2,4.500000,All-New Kindle E-reader - Black 6 Glare-Free T...
3,4.000000,Amazon - Amazon Tap Portable Bluetooth and Wi-...
4,5.000000,Amazon - Fire 16GB (5th Gen 2015 Release) - Bl...
5,5.000000,Amazon 5W USB Official OEM Charger and Power A...
6,4.000000,Amazon 9W PowerFast Official OEM USB Charger a...
7,5.000000,Amazon Fire Hd 10 Tablet Wi-Fi 16 Gb Special O...
8,5.000000,Amazon Fire Hd 8 8in Tablet 16gb Black B018szt...
9,4.739130,Amazon Fire Tv Amazon Fire Tv
10,4.710526,Amazon Kindle Paperwhite - eBook reader - 4 GB...
11,4.875000,Brand New Amazon Kindle Fire 16gb 7 Ips Displa...
12,4.645161,Echo (White) Echo (White)
13,4.888889,Fire Kids Edition Tablet 7 Display Wi-Fi 16 GB...
14,5.000000,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...
15,4.378788,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...
16,4.750000,Kindle Voyage E-reader 6 High-Resolution Displ...

In [24]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(20)

,weighted average recommendation score,name
8,5.000000,Amazon Fire Hd 8 8in Tablet 16gb Black B018szt...
7,5.000000,Amazon Fire Hd 10 Tablet Wi-Fi 16 Gb Special O...
14,5.000000,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...
4,5.000000,Amazon - Fire 16GB (5th Gen 2015 Release) - Bl...
5,5.000000,Amazon 5W USB Official OEM Charger and Power A...
13,4.888889,Fire Kids Edition Tablet 7 Display Wi-Fi 16 GB...
11,4.875000,Brand New Amazon Kindle Fire 16gb 7 Ips Displa...
16,4.750000,Kindle Voyage E-reader 6 High-Resolution Displ...
9,4.739130,Amazon Fire Tv Amazon Fire Tv
10,4.710526,Amazon Kindle Paperwhite - eBook reader - 4 GB...
0,4.666667,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 16...
12,4.645161,Echo (White) Echo (White)
2,4.500000,All-New Kindle E-reader - Black 6 Glare-Free T...
15,4.378788,Fire Tablet 7 Display Wi-Fi 8 GB - Includes Sp...
1,4.333333,All-New Fire HD 8 Tablet 8 HD Display Wi-Fi 32...
6,4.000000,Amazon 9W PowerFast Official OEM USB Charger a...
3,4.000000,Amazon - Amazon Tap Portable Bluetooth and Wi-...